<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn Page</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
 <h1>SignIn Page</h1>
    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
    <fieldset>
        <form method = "POST" action = '{% url "login" %}'>
            {% csrf_token %}
            <table>
               <tr>
                <td>User Name :</td>
                <td><input type = 'text' name = 'username' id = 'username' autocomplete="off" required></td>
                </tr>

                <tr>
                    <td>Password :</td>
                    <td><input type = 'password' name = 'f_pass' id = 'f_pass' required></td>
                </tr>







            <tr>
            <td><input type = 'submit' value = 'Submit' name = 'Submit' id = 'submit'></td>
            </tr>
            </table>
        </form>
    </fieldset>
    <a href = '{% url "signup" %}'> SignUp Here</a><br><br>
    </script>
</body>
</html>




































































